@media (min-width: 501px) {
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 83%;
    justify-items: center;
}
.card{
    width: 300px;
    height: 375px;
    background: rgba(128, 128, 128, 1);
    border: 1px solid black;
    border-radius: 28px;
}
// .card-body {
//     width: 300px;
//     height: 375px;
//     background: rgba(128, 128, 128, 1);
//     margin-top: 50px;
//     margin-left: 55px;
//     border: 1px solid black;
//     border-radius: 28px;
// }
.mb-md-5 {
    background: rgba(128, 128, 128, 1);
}
.fw-bold {
    color: #FFFFFF;
    margin-top: -9px;
}
.form-label {
    color: #FFFFFF;
    font-size: 14px;
}
.form-control {
    // color: black;
    width: 75%;
    height: 10px;
    // margin-left: 20px;
    border: 1px solid black;
    border-radius: 28px;
    font-size: 14px;
    // text-align: center;
}
.text2 {
    color: #FFFFFF;
}
.dont {
    color: #FFFFFF;
    font-size: 14px;
}
.f-stick {
    width: 15px;
    height: 375px;
    background: rgba(29, 41, 81, 1);
    border: 1px solid black;
}
.register {

}
.btn2 {
    width: 168px;
    height: 50px;
    background: rgba(128, 128, 128, 1);
    border: 1px solid black;
    border-radius: 20px;
    color: #FFFFFF;
}
}
@media (max-width: 500px) {
    .f-stick{ display: none;}
    .register{display: none;}
    .card-body {width: 90%;
                margin: 0;
    }
    .form-control{
        width: 100%;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }

    .card{
        width: 300px;
        height: 375px;
        background: rgba(128, 128, 128, 1);
        border: 1px solid black;
        border-radius: 28px;
    }
    // .card-body {
    //     width: 300px;
    //     height: 375px;
    //     background: rgba(128, 128, 128, 1);
    //     margin-top: 50px;
    //     margin-left: 55px;
    //     border: 1px solid black;
    //     border-radius: 28px;
    // }
    .mb-md-5 {
        background: rgba(128, 128, 128, 1);
    }
    .fw-bold {
        color: #FFFFFF;
        margin-top: -9px;
    }
    .form-label {
        color: #FFFFFF;
        font-size: 14px;
    }
    .form-control {
        // color: black;
        width: 75%;
        height: 10px;
        // margin-left: 20px;
        border: 1px solid black;
        border-radius: 28px;
        font-size: 14px;
        // text-align: center;
    }
    .text2 {
        color: #FFFFFF;
    }
    .dont {
        color: #FFFFFF;
        font-size: 14px;
    }
    .f-stick {
        width: 15px;
        height: 375px;
        background: rgba(29, 41, 81, 1);
        border: 1px solid black;
    }
    .register {
    
    }
    .btn2 {
        width: 168px;
        height: 50px;
        background: rgba(128, 128, 128, 1);
        border: 1px solid black;
        border-radius: 20px;
        color: #FFFFFF;
    }
}









