table {
  margin-top: 3vh;
  color: #fff;
  text-align: left;
  font-size: 20px;
  border-radius: 20px;
  overflow: hidden;

  border-spacing: 0;
  border-collapse: separate;
  border: 3px solid black;
}

/* table tr:last-child td:first-child {
  border: 2px solid orange;
  border-bottom-left-radius: 10px;
}
  
table tr:last-child td:last-child {
  border: 2px solid green;
  border-bottom-right-radius: 10px;
} */



th {
  background-color: rgba(29, 41, 81, 1);
  color: #fff;
  text-decoration: underline;
  text-align: left;
  border: 1px solid black;
}

td {
  border-bottom: 3px solid #fff;
  border: 1px solid black;
}

.bi {
  font-size: small;
  color: #fff;
  text-align: center;
}

.bi-search thead {
  border-radius: 0 0 20px 20px;
  align-items: center;
}

.btn {
  margin-left: 10px;
  justify-content: center;
  padding: 0 0.2em;
}

tr {
  border-bottom: 1px solid #ccc;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 55px;
}

.sorting-container {
  position: absolute;
  top: 100px;
  left: 20px;
}

.search-popup {
  
  position: absolute;
  background-color:rgba(29, 41, 81, 1);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}


.filter-popup {

  position: absolute;
  background-color: rgba(29, 41, 81, 1);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}


.filter-popup select,
.search-popup input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}


.show-popup {
  display: block;
}
.filter-icon{
  margin-left: 40%;
}