<div class="container">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">
            CÓDIGO
          </th>
          <th class="col-md-2">
            Título
            <button
              class="btn btn-link btn-sm fixed-sort-buttons"
              (click)="toggleSortOrderPopup('A-Z')"
            >
              <img
                src="../../../assets/G49.png"
                alt="Orden Z-A"
              />
            </button>
            <button
              class="btn btn-link btn-sm fixed-sort-buttons"
              (click)="toggleSortOrderPopup('Z-A')"
            >
            </button>
            <button class="btn btn-link btn-sm fixed-sort-buttons" (click)="toggleSearch()">
              <img class="search" src="../../../assets/buscar.png" alt="Buscar" />
            </button>
            <div class="search-popup" *ngIf="showSearchPopup">
              <input
                id="searchInput"
                type="text"
                class="form-control"
                [(ngModel)]="searchTerm"
                (input)="applyFilters()"
                placeholder="Buscar..."
              />
              <button class="btn btn-primary" (click)="refreshTable()">Refrescar</button>
            </div>
          </th>

          <th class="col-md-2">
            Autor
           
            <label for="authorFilter" class="filter-label">
              <img
                src="../../../assets/filter.png"
                alt="Filtrar por Autor"
                class="filter-icon"
                (click)="toggleFilterPopup('author')"
              />
            </label>
            <div class="filter-popup" *ngIf="showAuthorFilterPopup">
              <input
                id="authorFilter"
                type="text"
                class="form-control"
                [(ngModel)]="selectedAuthor"
                (input)="applyFilters()"
                placeholder="Buscar autor..."
              />
              <button class="btn btn-primary" (click)="refreshTable()">Refrescar</button>
            </div>
          
           
            <button
              class="btn btn-link btn-sm fixed-sort-buttons"
              (click)="toggleSortOrder('A-Z')"
            >
              <img src="../../../assets/G49.png" alt="Orden A-Z" />
            </button>
            <button
            class="btn btn-link btn-sm fixed-sort-buttons"
            (click)="toggleSortOrder('Z-A')"
          >
        
          </button>
          </th>
        
          <th class="col-md-2">
            Géneros
            <label for="genreFilter" class="filter-label">
              <img
                src="../../../assets/filter.png"
                alt="Filtrar por Género"
                class="filter-icon"
                (click)="toggleFilterPopup('genre')"
              />
            </label>
            <div class="filter-popup" *ngIf="showGenreFilterPopup">
              <select
                id="genreFilter"
                class="form-control"
                [(ngModel)]="selectedGenre"
                (change)="applyFilters()"
              >
                <option [ngValue]="null">Todos</option>
                <option *ngFor="let genre of genres" [ngValue]="genre.id">
                  {{ genre.name }}
                </option>
              </select>
              <button class="btn btn-primary" (click)="refreshTable()">Refrescar</button>
            </div>
          </th>
          <th class="col-md-2">Precio</th>
          <th class="col-md-2">
            Tapa
            <label for="coverTypeFilter" class="filter-label">
              <img
                src="../../../assets/filter.png"
                alt="Filtrar por Tapa"
                class="filter-icon"
                (click)="toggleFilterPopup('coverType')"
              />
            </label>
            <div class="filter-popup" *ngIf="showCoverTypeFilterPopup">
              <select
                id="coverTypeFilter"
                class="form-control filter-dropdown"
                [(ngModel)]="selectedCoverType"
                (change)="applyFilters()"
              >
                <option [ngValue]="null">Todos</option>
                <option value="hard">Tapa Dura</option>
                <option value="soft">Tapa Blanda</option>
              </select>
              <button class="btn btn-primary" (click)="refreshTable()">Refrescar</button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comic of comicsOnCurrentPage">
          <td><a [routerLink]="['/comic', comic.isbn]"></a>{{ comic.isbn }}</td>
          <td><a [routerLink]="['/comic', comic.isbn]">{{ comic.title }}</a></td>
          <td>{{ comic.author }}</td>
          <td>
            <span *ngFor="let genre of comic.genres; let last = last">
              {{ genre.name }}{{ !last ? ", " : "" }}
            </span>
          </td>
          <td>{{ comic.price }}</td>
          <td>{{ comic.ishardcover ? "Dura" : "Blanda" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(1)" aria-label="First"> << </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPage(currentPage - 1)"
            aria-label="Previous"
          >
            <
          </a>
        </li>
        <li class="page-item">
          <span class="page-link">
            {{ currentPage }}
          </span>
        </li>
        <li
          class="page-item"
          [class.disabled]="currentPage === getTotalPages()"
        >
          <a
            class="page-link"
            (click)="goToPage(currentPage + 1)"
            aria-label="Next"
          >
            >
          </a>
        </li>
        <li
          class="page-item"
          [class.disabled]="currentPage === getTotalPages()"
        >
          <a
            class="page-link"
            (click)="goToPage(getTotalPages())"
            aria-label="Last"
          >
            >>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>