<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-2">
                        <div class="container-th">
                            <p>Código</p>
                        </div>
                    </th>
                    <th class="col-md-2">
                        <div class="container-th">
                            <p>Título</p>
                        </div>
                    </th>
                    <th class="col-md-2">
                        <div class="container-th">
                            <p>Autor</p>                            
                        </div>

                    </th>

                    <th class="col-md-2">
                        <div class="container-th">
                            <p>Géneros</p>  
                        </div>

                    </th>
                    <th class="col-md-2"><div class="container-th">
                        <p>Precio</p> 
                    </div></th>
                    <th class="col-md-2">
                        <div class="container-th">
                            <p>Tapa</p> 
                        </div>

                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let comic of comics">
                    <td><a [routerLink]="['/comic', comic.isbn]"></a>{{ comic.isbn }}</td>
                    <td><a [routerLink]="['/comic', comic.isbn]">{{ comic.title }}</a></td>
                    <td>{{ comic.author }}</td>
                    <td>
                        <span *ngFor="let genre of comic.genres; let last = last">
                            {{ genre.name }}{{ !last ? ", " : "" }}
                        </span>
                    </td>
                    <td>{{ comic.price }}</td>
                    <td>{{ comic.ishardcover ? "Dura" : "Blanda" }}</td>
                </tr>
            </tbody>
        </table>
    </div>