<nav class="navbar navbar-expand-lg navbar-light custom-bg-color">
  <a class="navbar-brand custom-stroke" routerLink="">MarketPlace ComicBook</a>
  <button class="navbar-toggler  " type="button" (click)="toggleMenu()">
    <span class="bars navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuOpen}" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="" (click)="closeMenu()">Comprar</a>
      <a class="nav-item nav-link" routerLink="" (click)="closeMenu()">Carro</a>
      <a class="nav-item nav-link" routerLink="" (click)="closeMenu()">Historial</a>
      <a class="nav-item nav-link" routerLink="" (click)="closeMenu()">Cerrar Sesión</a>
    </div>
  </div>
</nav>