h2{
  text-align: center;
  // border: 8px solid yellow;
}
.preview {
    max-width: 200px;
  }
  .card{
     background: rgba(29, 41, 81, 1);
     color: white;
     padding-top: 1%;
     padding-bottom: 1%;
     
  }
  //.row{
    // border: 8px solid blue;
  //}
  .flex{
    // width: 20%;
    display: flex;
    justify-content: center;
    padding: 5%;
  }
  button{
    width: 20%;
    padding: 1%;
  }
  
 
  