<div class="container mt-5">  
  <form (ngSubmit)="submitForm()" #registroForm="ngForm">
    <h2>Formulario de Registro</h2>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="email" id="email" class="form-control" name="email" formControlName="email"[(ngModel)]="register.correo" required
          placeholder="Correo eléctronico">
      </div>
      <div class="form-group">
        <!-- <div class="dropdown">
          <button class="dropbtn">DNI / NIE v</button>
          <div class="dropdown-content">
            <option>DNI</option>
            <option>NIE</option>
          </div> -->
          <div class="form-group">
            <input type="text" id="dniNumber" class="form-control" formControlName="dniNumber" required placeholder="Inserte su número de documento">
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-4">

            <input type="text" id="name" class="form-control" name="name" formControlName="name" [(ngModel)]="register.name" required
              placeholder="Nombre">
          </div>
          <div class="form-group col-md-4">

            <input type="text" id="surname" class="form-control" name="surname" formControlName="surname" [(ngModel)]="register.surname"
              required placeholder="Apellido">
          </div>
          <div class="form-group col-md-4">

            <input type="text" id="surname2" class="form-control" name="surname2" formControlName="surname2" [(ngModel)]="register.surname2"
              required placeholder="Apellido 2">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" id="street" class="form-control small-input " name="street" formControlName="street" [(ngModel)]="register.street"
              required placeholder="Calle">
          </div>
          <div class="grid-box">
          <div class="form-group col-md-2">
            <input type="text" id="number" class="form-control small-input" name="number" formControlName="number" [(ngModel)]="register.number"
              required placeholder="nº">

            <div class="form-group col-md-2">
              <input type="text" id="gate" class="form-control small-input" name="gate" formControlName="gate" [(ngModel)]="register.gate"
                placeholder="Portal">
            </div>
            <div class="form-group col-md-2">
              <input type="text" id="stair" class="form-control small-input" name="stair"  formControlName="stairs" [(ngModel)]="register.stairs" placeholder="Escalera">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <input type="text" id="floor" class="form-control small-input" name="floor" formControlName="floor" [(ngModel)]="register.floor"
                placeholder="Piso">
            </div>
            <div class="form-group col-md-2">
              <input type="text" id="letter" class="form-control small-input" name="letter" formControlName="letter" [(ngModel)]="register.letter"
                placeholder="Letra">
            </div>
          </div>
        </div>
          <div class="form-group col-md-2">
            <input type="text" id="postalCode" class="form-control" name="postalCode" formControlName="postalCode" [(ngModel)]="register.postalcode" required
              placeholder="Codigo Postal">
          </div>
          <div class="form-group col-md-4">
            <input type="text" id="town" class="form-control" name="town" formControlName="town"[(ngModel)]="register.town" required
              placeholder="Municipio">
          </div>
          <div class="form-group col-md-2">
            <input type="text" id="province" class="form-control" name="province" formControlName="province" [(ngModel)]="register.province"
              required placeholder="Provincia">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="password" id="password" class="form-control" name="password" formControlName="password" [(ngModel)]="register.password"
              required placeholder="Contraseña">
          </div>
          <div class="form-group col-md-6">
            <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"name="confirmPassword"
              [(ngModel)]="confirmPassword" required placeholder="Confirmar Contraseña">
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="passwordsDoNotMatch">
          Las contraseñas no coinciden. Por favor, inténtalo de nuevo.
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <!-- </form> -->
      </div>
