.container{
    margin-top: 3vh;  
    background: #808080;
    border-radius: 3.00vh;
    margin-bottom: 15vh; 
    width: 45vh;
    height: 84.5vh;
  
    h1{
      color: #fff;
      font-size: 4vh;
      text-align: center;
      font-family: 'Alice', serif;
    }
    form{   
      padding: 2vh;         
      input, select{
        margin: 0.5vh;
        font-family: 'Alice', serif;
        height: 4vh;
        font-size: 2vh;
   
      }
  
      #email{
        margin-top: -1vh;
      }
  
      .form-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        #dniType{
          width: 11vh; 
          margin-left:-4.2vh ;            
        }
  
        #dniNumber{
          width: 14.2vh;
          margin-right: 0.6vh;
        }
       
      }
  
      #name{
        width: 100%;
      }  
        
        #surname1{
          width: 100%;
        }
        #surname2{
          width: 100%;
        }
      
  
      .form-group-adress{
        margin: 2.8vh 0 3.75vh 0 ;

        
        #number{
          width: 5.9vh;
         
        }
        
        #gate {
          width: 7vh;
        }
  
        #stairs{
          width: 7vh;
        }
  
        #floor{        
           width: 7vh;        
        }
  
        #letter{
          width: 7.2vh;
        }
     
        .form-row-inline{
          width: 2.79vh;
          display: grid;
          grid-template-columns: repeat(5,1fr);
          padding: 0.53vh;
          margin-left: -4vh;
        }
  
        .form-row{         
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-left: -6vh;
        }
        #postalCode{
          width: 18vh;
        }
  
        #town{
          width: 16.2vh;
        }
  
        #province{
          width: 19vh;
        }
  
      }
      button{
        margin: 1vh 0 0 12vh;
        background: #fff;
        border: 0.10vh solid #000;
        
        width: 15vh;
        height: 4vh;
        font-size: 2vh;
        border-radius: 3.00vh;
        p{
          color: #000;
          margin-top: -0.5vh;
        }
       }
    }
  
    
  }