.container{
    margin-top: 3vh;
    background: #808080;
    border-radius: 3.00vh;
    margin-bottom: 15vh;
    width: 45vh;
    height: 109vh;
    border: 1px solid #000;
    h1{
      color: #fff;
      font-size: 4vh;
      text-align: center;
      font-family: 'Alice', serif;
    }
    form{
      margin-top: -2.8vh;
      padding: 2vh;
      input, select{
        margin: 0.5vh;
        font-family: 'Alice', serif;
        height: 4vh;
        font-size: 2.5vh;
        margin-left: 0.1vh;
      }

     #dniType{    
      height: 4.8vh;      
     }
    
   
      .btn{
        border: 1px solid #000;
        border-radius: 1.29vh;
        background: #fff;
        color: #000;
        margin: 4vh 0 2vh 15vh;
        height: 5vh;
        width: 12vh;
      }

      .login{
        color: #fff;
        text-align: center;       
      }
    }

    @media (min-width:760px) {
      
      .container{
        height: 98vh;
      
      }
      


      .text-light{
        font-size: 2.2vh;
      }


      .btn{
        font-size: 2.5vh;
      }

      .login{
        font-size: 2.4vh;
      }

      
   
      
      
    }
  } 
