<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Editar Cómic</h4>
      <button type="button" class="close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="saveChanges()" #editForm="ngForm">
        <div class="form-group">
          <label for="isbn">ISBN</label>
          <input
            type="text"
            class="form-control"
            id="isbn"
            name="isbn"
            [(ngModel)]="editedComic.isbn"
            required
          />
        </div>
        <div class="form-group">
          <label for="title">Título</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)]="editedComic.title"
            required
          />
        </div>
        <div class="form-group">
          <label for="author">Autor</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="author"
            [(ngModel)]="editedComic.author"
            required
          />
        </div>
        <div class="form-group">
          <label for="coverType">Tapa</label>
          <select
            class="form-control"
            id="coverType"
            name="coverType"
            [(ngModel)]="editedComic.ishardcover"
            required
          >
            <option value="true">Dura</option>
            <option value="false">Blanda</option>
          </select>
        </div>
        <div class="form-group">
          <label for="photo">Foto</label>
          <input
            type="text"
            class="form-control"
            id="photo"
            name="photo"
            [(ngModel)]="editedComic.photo"
          />
        </div>
        <div class="form-group">
          <label for="price">Precio</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            [(ngModel)]="editedComic.price"
            required
          />
        </div>
        <div class="form-group">
          <label for="synopsis">Sinopsis</label>
          <textarea
            class="form-control"
            id="synopsis"
            name="synopsis"
            [(ngModel)]="editedComic.synopsis"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="stock">Stock</label>
          <input
            type="number"
            class="form-control"
            id="stock"
            name="stock"
            [(ngModel)]="editedComic.stock"
            required
          />
        </div>
        <div class="form-group">
          <label for="genres">Géneros Actuales</label>
          <select class="form-control" id="genres" name="genres" [(ngModel)]="editedComic.genres" multiple>
            <option *ngFor="let genre of editedComic.genres" [value]="genre.id">{{ genre.name }}</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="newGenres">Agregar Nuevos Géneros</label>
          <input
            type="text"
            class="form-control"
            id="newGenres"
            name="newGenres"
            [(ngModel)]="newGenres"
            (blur)="addNewGenres()"
          />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
