<div class="custom-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Cómic</h4>
      </div>
      <div class="modal-body">
        <div class="left-column">
        <form (ngSubmit)="saveChanges()" #editForm="ngForm">
          <div class="form-group">
            <label for="isbn">Isbn</label>
            <input type="text" class="form-control" id="isbn" placeholder="Isbn" formControlName="isbn">
            <div *ngIf="!myForm.controls['isbn'].valid && myForm.controls['isbn'].touched" class="error message">
              Isbn
              no valido</div>

          </div>
          <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" class="form-control" id="title" placeholder="Titulo" formControlName="title">
          </div>
          <div class="form-group">
            <label for="author">Autor</label>
            <input type="text" class="form-control" id="author" placeholder="Autor" formControlName="author">
          </div>
          <div class="form-group">
            <label for="synopsis">Sinopsis</label>
            <textarea class="form-control" id="synopsis" placeholder="Sinopsis" formControlName="synopsis"
            ></textarea>
          </div>
         
          <div class="form-group">
            
            <label for="genre">Genero</label>

                <select class="form-control" id="genre" placeholder="Genero" name="genres" [(ngModel)]="editedComic.genres" (ngModelChange)="addGenreToList($event)" >
                  <option disabled [ngValue]="null">-Seleccione un genero-</option>
                  <option *ngFor="let aGenre of allGenres" [ngValue]="aGenre">{{aGenre.name}}
                  </option>
                </select>
            <div class="listGenres" #divList>
              <span class="genreItem" *ngFor="let aCurrentGenre of currentGenres;let i = index;">
                {{aCurrentGenre.name}}<button class="btn btn-short" (click)="deleteGenre(i)">x</button>
              </span>
            </div>
          </div>


          <div class="form-group">
            <label for="ishardcover">Tapa</label>
            <select class="form-control" id="ishardcover" placeholder="Tapa dura?" formControlName="ishardcover">
              <option *ngFor="let aCover of covers" [value]="aCover == 'Tapa Dura' ? true : false">{{aCover}}
              </option>
            </select>
          </div>

          <div class="form-group remove-spinner">
            <label for="price">Precio</label>
            <input type="number" matInput class="form-control " id="price" placeholder="Precio" formControlName="price">
          </div>

          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" id="stock" placeholder="Stock" formControlName="stock">
          </div>
          <div class="form-group">
            <label for="photo">Foto</label>
            <input [readonly]="true" type="text" class="form-control" id="photo" placeholder="Foto"
              formControlName="photo">
          </div>
          
          <div class="modal-footer">
           
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
        </div>
        <form (ngSubmit)="saveChanges()" #editForm="ngForm">
          <div class="right-column">
            <div class="form-group">
              <label for="photo"></label>
              <img [src]="'http://localhost:8000/files/' + editedComic.photo" class="img-fluid small-image" alt="Foto Actual">
            </div>
          </div>

          
        </form>

