<div class="container">
  <h2>Editar Cómic</h2>
  <div *ngIf="isLoading; else content">
    <p>Cargando...</p>
  </div>
  <ng-template #content>
    <div *ngIf="isError">
      <p>Error al cargar el cómic. Por favor, inténtelo de nuevo más tarde.</p>
    </div>
    <form (submit)="updateComic()">
      <div class="form-group">
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" [(ngModel)]="comic.isbn" class="form-control" readonly>
      </div>
      <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" [(ngModel)]="comic.title" class="form-control">
      </div>
      <div class="form-group">
        <label for="author">Autor:</label>
        <input type="text" id="author" name="author" [(ngModel)]="comic.author" class="form-control">
      </div>
      <div class="form-group">
  <label for="genre">Género:</label>
  <select id="genre" name="genre" [(ngModel)]="comic.genres" class="form-control">
    <option *ngFor="let genre of comic.genres" [value]="genre.id">{{ genre.name }}</option>
  </select>
</div>
      <div class="form-group">
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" [(ngModel)]="comic.price" class="form-control">
      </div>
      <div class="form-group">
        <label for="coverType">Tapa:</label>
        <select id="coverType" name="coverType" [(ngModel)]="comic.ishardcover" class="form-control">
          <option value="hard">Tapa Dura</option>
          <option value="soft">Tapa Blanda</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      <a routerLink="/comic/{{ comic.isbn }}" class="btn btn-secondary">Cancelar</a>
    </form>
  </ng-template>
</div>
