
.modal-content {
    background-color: rgba(29, 41, 81, 1) !important;
    color: #fff; 
    margin-left: 0vh;
    margin-right: 31vh;
    margin-top: -5vh;
    margin-bottom: -5vh;
   
}
.form-control {
  display: block;
  width: 176%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;}

.img-fluid {
  max-width: 100%;
  height: auto;

}

.custom-modal{
    background-color: rgba(29, 41, 81, 1)
}


.custom-modal .modal-body {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: auto;
  flex: 1;
  padding-right: 20px;
  
}
.form-control{
  width: 100%;
}

.right-column {
  flex: 1;
  padding-left: 20px;
}

.custom-modal .form-group {
  margin-bottom: 20px;
}

.custom-modal .form-group:last-child {
  margin-bottom: 0;
}

.preview-container img {
  max-width: 100%;
  height: auto;
}
.btn-short{
  
  width: auto;
  height: auto;
  padding:1px;
  color: white;
}
.listGenres{
  width: 100%;
}
.genreItem{
  display: inline-block;
}