<div class="container-table">
    
        
     

    
    <table  class="table table-striped table-bordered ">
        
        <thead >
            
          <tr class="fila">
            <th scope="col">Isbn</th>
            
            
            
            <th  scope="col">Titulo 
               <span> 
                <button style="margin-left:10px" class="btn btn-a dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" ><i class="bi bi-sort-alpha-down"></i></button> <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">A - Z</a></li></ul> 
           
    
                 <button style="margin-left:10px" class="btn btn-a dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" ><i class="bi bi-sort-alpha-up-alt"></i></button> 
                 <button style="margin:6px" class="btn btn-a" ><i class="bi bi-search"></i></button> <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Z - A</a></li></ul> 
                
                </span>  
                 
                
                
                 <!-- <i class="bi bi-sort-alpha-down"></i><i class="bi bi-sort-alpha-up-alt"></i> -->
                 
         
             
          </th> 
          
            
            <th scope="col">Autor </th>
            <th scope="col">Generos <span><button  class="btn btn-a dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-funnel"></i></button><ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Infantil</a></li>
                <li><a class="dropdown-item" href="#">Juvenil</a></li>
                <li><a class="dropdown-item" href="#">Manga</a></li>
                <li><a class="dropdown-item" href="#">Novela Gráfica</a></li>
                <li><a class="dropdown-item" href="#">Humor</a></li>
                <li><a class="dropdown-item" href="#">Superheróes</a></li>
            </ul>  </span></th>
            <th scope="col">Precio</th>
            <th scope="col">Tapa <span><button class="btn btn-a dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-funnel"></i></button> <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Dura</a></li>
        
                <li><a class="dropdown-item" href="#">Blanda</a></li>
            
            </ul> 
                
            
            </span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Marina</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>Blanda</td>
          </tr>
          <tr>
            <td>Otro</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>Dura</td>
          </tr>
          <tr>
            <td>Oklatto</td>
            <td>Larry Bird</td>
            <td>@twitter</td>
            <td>Oklatto</td>
            <td>@mdo</td>
            <td>Blanda</td>
          </tr>
          <tr>
            <td>Oklatto</td>
            <td>Larry Bird</td>
            <td>@twitter</td>
            <td>Oklatto</td>
            <td>@mdo</td>
            <td>Blanda</td>
          </tr>
          <tr>
            <td>Otro</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>Dura</td>
          </tr>
        </tbody>
      </table>
    </div> 
    