table th {
    
    color: white;   
    border: 3px solid #fff;
    text-align: center;
    background-color: rgba(29, 41, 81, 1);
  color: #fff;
  text-decoration: underline;
  

   
    }

#example {
  
   
    margin: 50px 40px;
    align-items: center;
    justify-content:center;
    text-align: center;

}

tbody {
    margin-bottom: 80%;
}