@media screen and (min-width: 768px){
.redes-sociales{
  margin-top: 0px;
}
}

@media screen and (max-width: 767px){
  .redes-sociales{
    margin-top: 10px;
  }
  }


.main-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:rgba(29, 41, 81, 1);
  color: white;
  padding: 10px 0;

  p {
    margin: 0;
    text-align: center;
  }

  a {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}
 
&:last-child {
  margin-right: 0;
}
.social-footer {
  list-style: none;
  padding: 0;
  margin: 0;
  /* text-align: right; */
  text-align: center;
  li {
    display: inline-block;
    margin-right: 10px;
     }

  a {
    display: block;
    text-align: center;    
    img {
      width: 30px;
      height: 30px;
      vertical-align: middle;     }
  }

  li:last-child {
    margin-right: 0px;  }

   li a img {
    float: right;
  }
}
}