<footer class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-6 text-right">
          <a href="https://www.instagram.com/tu_instagram" target="_blank" class="text-white mr-3">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.facebook.com/tu_facebook" target="_blank" class="text-white mr-3">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com/tu_twitter" target="_blank" class="text-white">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  