<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Historial de Compras</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>ISBN</th>
            <th>Título del Cómic</th>
            <th>Autor</th>
            <th>Precio</th>
            <th>Tapa</th>
            <th>Generos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.date }}</td>
            <td>{{ order.comic.isbn }}</td>
            <td>{{ order.comic.title }}</td>
            <td>{{ order.comic.author }}</td>
            <td>{{ order.comic.price }}</td>
            <td>{{ order.comic.ishardcover ? "Dura" : "Blanda" }}</td>
            <td>
              <ul>
                <li *ngFor="let genre of order.comic.genres">{{ genre.name }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
